.consultas{
  padding: 0 1rem;
  height: calc(100vh - 110px - 58px);
  overflow: scroll;
}

.consultas__data{
  display: flex;
  align-items: center;
  height: 2.875rem;
}

.consultas ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.consulta__card{
  background: var(--fundo-card);
  display: flex;
  flex-direction: column;
  width: 20.5rem;
  height: 10rem;
  padding: 1rem 1rem 0;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.consulta__card-titulo{
  display: flex;
  justify-content: space-between;
}

.consulta__card-paciente{
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}

.consulta__card-paciente>img{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.consulta__card-paciente>div{
  display: flex;
  flex-direction: column;
}

.consulta__card-titulo .consulta__card-chat{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  background: var(--cinza-secundario);
  background-image: url(../img/chat1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.consulta__card-paciente strong{
  font-size: 0.875rem;
}

.consulta__card-paciente span{
  font-size: 0.75rem;
  color: var(--texto-claro);
  display: flex;
  align-items: center;
}

.consulta__card-paciente span>span{
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
  background-repeat: no-repeat;
  background-position: center;
}

.consulta__card-paciente span>span.camera{
  background-image: url(../img/Camera.svg);
}

.consulta__card-paciente span>span.mapa{
  background-image: url(../img/pin.svg);
}

.consulta__card-conteudo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 5.125rem;
  border-top: 1px solid #46464619;
}

.consulta__card-conteudo p{
  font-size: 0.75rem;
  margin: 0.5rem 0;
}

.consulta__card-acoes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.consulta__card-acoes button{
  min-width: 8.75rem;
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.813rem 1rem;
  margin-right: 1rem;
  font-weight: 500;
  font-size: 0.875rem;
}

.consulta__card-acoes button>:only-of-type{
  margin: 0;
}